.project-container{
    margin : 10px;
    padding : 10px;
    text-align : center;
}

.project-cards-collection{
    display: flex;
    flex-wrap: wrap;
    align-items : center;
    justify-content : center;
}

.project-container h1{
    font-family:'Ubuntu', sans-serif;
    text-align: center;
    margin : 10px;
}

.project-cards{
    position : relative;
    width: 36%;
    margin : 20px;
    height : 350px;
    transform-style : preserve-3d;
    transition : all 0.5s ease;
}

.project-cards:hover{
    transform :rotateY(180deg);
}

.project-cards-front{
    position : absolute;
    width: 100%;
    background-color : rgba(255, 255, 255, 0.3);
    padding : 20px;
    text-align : center;
    border-radius :25px;
    border-top : 6px solid rgba(255, 255, 255, 0.7);
    border-right : 6px solid rgba(255, 255, 255, 0.7);
    backdrop-filter : blur(2.5rem);
    backface-visibility :hidden;
}

.project-cards-back{
    position : absolute;
    width: 100%;
    background-color : rgba(255, 255, 255, 0.3);
    padding : 20px;
    text-align : center;
    border-radius :25px;
    border-top : 6px solid rgba(255, 255, 255, 0.7);
    border-right : 6px solid rgba(255, 255, 255, 0.7);
    backdrop-filter : blur(2.5rem);
    backface-visibility :hidden;
    transform :rotateY(180deg);
}

.project-cards-back img{
    height: 100%;
    width: 100%;
    object-fit :cover;
}


.project-discription{
    padding : 25px;
}

.project-cards-front a{
    border-radius : 10px;
    text-decoration: none;
    border: 2px solid blue;
    padding : 10px;
    background-color : blue;
    color : white;
    margin : 10px;
}

.project-cards-front a:hover{
    background-color :rgba(255, 255,255 ,0.1);
    color : blue;
}


/* media query */

@media(max-width:1100px){
    .project-cards{
        height : 400px;
    }
}

@media(max-width:900px){
    .project-cards{
        height : 450px;
    }
}

@media(max-width:810px){
    .project-cards{
        height : 520px;
    }
}

@media(max-width:720px){
    .project-cards {
        width : 100%;
        height : 310px;
    }
}